var config = {};

config.redis = {};
config.gcm = {};

config.redis.host = 'redis host';
config.redis.port = 6379;
config.redis.password = 'redis password';

config.gcm.apiKey = 'api key';

exports.redis = config.redis;
exports.gcm = config.gcm;